/memo/
/jsdoc/
/node_modules/
*.class
src/res/sound/test.mp3
/recruit/
recruit.json
recruitStart.json
recruitback.png
recruitback2.png
recruitKuma.png
recruitHarinezumi.png
recruitDog.png
recruitStar.jpg
recruitMetal.png
recruitPink.png
recruitRanto.png
recruitK.png
